.separator {
    width: 100%; 
    border-bottom: 1px solid #ffffff; 
    margin: 20px 0; 
    }
  
  .rect {
    text-align: center;
    width: 250px; 
  }
  
  ::placeholder {
    color: rgba(255, 0, 0, 0.534);
    opacity: 1; /* Firefox */
  }